@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  background: rgba(0, 0, 0, 0.7);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  padding: 30px 0 !important;
}

.site-header {
  background-color: #FF5722;
  padding: 19px;
  color: #fff;
  position: relative;
}

.site-header h1 {
  font-size: 27px;
  padding: 0;
  line-height: 14px;
}

.site-header span {
  font-size: 10px;
}

.site-header #nav {
  position: absolute;
  font-size: 16px;
  right: 16px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  top: 23px;
  display: none;
}

.site-content {
  background: #8a2d10;
  padding: 10px;
  color: #fff;
  position: relative;
}

.site-content label {
  color: #fff;
}

.site-content input[type=submit] {
  background: #FF5722;
  border: none;
  padding: 12px 60px;
  float: right;
}

.site-content input[type=submit]:hover {
  background: #ff57228c;
}

#words-list {
  margin: 0;
  width: 70%;
}

#words-list thead th {
  text-align: center;
}

#words-list tbody button {
  border: 1px solid #fff;
  padding: 3px 8px;
  border-radius: 3px;
  background: #c31508;
}

#words-list tbody,
#words-list tr {
  background: rgba(244, 67, 54, 0.39);
  border: 0;
  text-align: center;
}

#testView {
  display: none;
}

#testView label,
#testView input {
  float: left;
  width: 50%;
  font-size: 30px;
  text-align: center;
}

#testView input {
  color: #fff;
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  box-shadow: none;
}

#testView #nextBtn {
  background: #FF5722;
  border: none;
  padding: 12px 60px;
  float: right;
  font-size: 17px;
  width: 20%;
}

#testView #progress {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.test-mode {
  float: right;
  clear: both;
  border: 1px solid;
  padding: 10px 32px;
  background: #F44336;
  margin: 10px 0;
}

#resultView {
  display: none;
}

#resultView #score {
  text-align: center;
}

#resultView #score span {
  color: #FFC107;
}

#resultView #result-list tr {
  color: #000;
}

#resultView #result-list tr.answer-false {
  background: #F44336;
  color: #fff;
}

#resultView #result-list tr.answer-true {
  background: #4CAF50;
  color: #fff;
}